/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    scrollbar-width: 0px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer */
    background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 30%, rgb(32, 32, 32) 100%);
}

/* Link Styles */
a {
    color: #8f8f8f;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #3a3939;
    text-decoration: underline;
}

.open-position-styles {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.open-position-styles.visible {
    opacity: 1;
    transform: translateY(0);
}


/* Back to Top Button */
#back-to-top {
    position: fixed;
    bottom: 48px;
    left: 48px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: none;
    font-size: 18px;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

#back-to-top:hover {
    background-color: transparent;
    color: #eeeeee;
}

.separator {
    height: 1px;
    background-color: #ffffff20; 
    margin: 0px 0;
    width: 100%;
}

/* Scroll Animations */
section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Active link highlighting */
nav a.active {
    color: #8A837F;
}

/* Topbar Styles */
.topbar {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 15px 0;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.topbar::before, .topbar::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 40px 50px 40px;
    border-color: transparent transparent rgba(0, 0, 0, 0) transparent;
}

.topbar::before {
    left: -40px;
    transform: rotate(180deg);
}

.topbar::after {
    right: -40px;
}

/* Navigation Link Styles */
.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    padding-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background 0.3s, color 0.3s;
}

.nav-links li a:hover {
    background-color: #8A837F;
    color: #ffffff;
}

/* Social Icons */
.social-icons {
    display: flex;
    gap: 15px;
    padding-right: 40px;
}

.social-icon {
    position: relative;
    overflow: hidden;
}

.social-icon img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
    z-index: 1; 
}

/* Neon Effects for Each Icon */
.social-icon.youtube::before {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.6);
}

.social-icon.instagram::before {
    box-shadow: 0 0 10px rgba(255, 87, 34, 0.8), 0 0 20px rgba(255, 87, 34, 0.6);
}

.social-icon.x::before {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6);
}

.social-icon.discord::before {
    box-shadow: 0 0 10px rgba(0, 153, 255, 0.8), 0 0 20px rgba(0, 153, 255, 0.6); 
}

.social-icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%; 
    height: 120%;
    border-radius: 35%; 
    background: rgba(0, 0, 0, 0); 
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease;
    opacity: 0;
    z-index: 0;
}

/* Hover Effect */
.social-icon:hover::before {
    opacity: 1;
}

.social-icon:hover img {
    transform: scale(1.1); 
}

/* Centered Image and Text */
.image-container {
    text-align: center;
    margin: 30px 0;
}

.image-container img {
    width: 50%; 
    max-width: 800px;
    border-radius: 15px;
}

.image-text {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    color: #cccccc;
}

/* Hero Section Styles */
.hero {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/112Logo.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #f5f5f5;
    background-color: rgb(0, 0, 0);
}

.hero-text h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 10px 4px 2px rgba(0, 0, 0, 0.7);
}

.hero-text p {
    font-size: 1rem;
    margin-bottom: 30px;
    font-weight: lighter;
    color: #ffffff;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
}

/* Section Styles */
section {
    padding: 60px 20px;
    text-align: center;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

section p {
    font-size: 1.2rem;
}

/* Game Details Section */
.game-details {
    padding: 60px 20px;
    text-align: center;
    background: #333;
}
.game-details h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.game-info img {
    max-width: 75%;
    height: 55%;
    border-radius: 15px;
}

.game-description {
    max-width: 800px;
    margin: 0 auto;
    color: #f5f5f5;
}

.game-description ul {
    list-style-type: none;
    padding: 0;
}

.game-description li {
    margin: 10px 0;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #8A837F;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 20px;
}

.cta-button:hover {
    background-color: #6f6f6f;
    color: #eeeeee;
}

/* Flag & Icons in Contact Section */
.studio-icon img {
    width: 64px;
    height: 64px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.flag-icons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

.flag-icons img {
    width: 50;
    height: 35px;
    border-radius: 10%;
}

/* Responsive Design */
@media (max-width: 768px) {
    .topbar {
        width: 90%;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .hero-text h1 {
        font-size: 2.5rem;
    }
}
